VITE_API_URL=your_api_url
VITE_API_APIKEY=your_api_key
VITE_API_AUTHDOMAIN=your_auth_domain
VITE_API_PROJECTID=your_project_id
VITE_API_STORAGEBUCKET=your_storage_bucket
VITE_API_SENDERID=your_sender_id
VITE_API_APPID=your_app_id